#basket>div {
    max-width: 30em;
}

#basket>div {
    margin-bottom: 1em;
}

#basket .unit {
    height: 1em;
    width: 50%;
    padding-left: 1em;
}

#basket .total {
    float: right;
    height: 1em;
    width: 50%;
    text-align: right;
}