#form td {
    padding: 0.5em;
}

#form button {
    margin: 0;
}

#form span.quantity {
    width: 2em;
    display: inline-block;
    text-align: center;
}

#form img {
    max-width: 8em;
    max-height: 8em;
}

#form .imageBackground {
    background-color: white;
    text-align: center;
    width: 8em;
    height: 8em;
}

#form select {
    padding: 0.4em;
    width: 100%;
}