#function-buttons {
    justify-content: space-between;
    display: flex;
}

#function-buttons>button {
    width: 10.7%;
    margin: 0.5em 0;
}

#function-buttons>button>div:first-child {
    color: rgb(3, 160, 150);
    font-size: 1.5vh;
}

@media (orientation: portrait) {
    #function-buttons {
        flex-wrap: wrap;
        flex-grow: 1;
    }

    #function-buttons>button {
        width: 23.5%;
        margin: 5px 0;
    }

    #function-buttons>button>div:first-child {
        display: none;
    }
}