#report {
    container-name: report
}

#report table {
    border-collapse: collapse;
    max-width: 100%;
}

#report th,
#report td {
    font-size: 0.6vw;
    text-align: center;
    border: 1px solid white;
    padding: 0.3em;
}

@media (orientation: portrait) {

    #report th,
    #report td {
        font-size: 1.6vw;
    }

}