#status-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#status-bar>div {
    font-size: 0.7em;
    padding: 0.3em;
    width: 23.5%;
    text-align: center;
    color: darkgray;
}