#top {
    height: 5%;
    overflow: hidden;
}

#top>h1 {
    font-size: 3.5vh;
    font-weight: bolder;
    display: inline-block;
    color: deeppink;
}

#top>h2 {
    color: grey;
    font-size: 2.5vh;
    font-weight: bolder;
    display: inline-block;
    margin: 0 0.3em
}

#top>button {
    float: right;
    margin-top: 1vh;
    margin-left: 0.8em;
    font-size: 1.5vh;
}

#middle {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    max-height: 83vh;
}

#middle-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

#middle-top.middle-small {
    max-height: 55vh;
}

#middle-top.middle-large {
    max-height: 83vh;
}

#middle-top>div {
    width: 49%;
    padding: 2em 3em;
}

/* #middle-bottom {
    height: 30%;
} */

#bottom {
    height: 10vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media (orientation: portrait) {

    #top>h1 {
        margin-top: 0.5em;
        font-size: 2vh;
    }

    #top>h2 {
        margin-top: 0.5em;
        font-size: 1.5vh;
        font-weight: normal;
    }

    #middle-top.middle-small {
        max-height: 57vh;
    }

    #middle-top.middle-large {
        max-height: 77vh;
    }

    #middle-top {
        flex-direction: column;
    }

    #middle-top>div {
        width: 100%;
        padding: 1em 1em;
        height: 49%;
    }

    #bottom {
        height: 15%;
    }

}