* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 2vh;
}

html,
body {
    position: fixed;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.5em 2em;
}

.primary {
    background-color: #BB86FC !important;
    color: #121212;
    ;
}

.secondary {
    background-color: rgb(3, 218, 198);
    color: #121212;
}

.tertiary {
    background-color: #3700B3;
    color: lightgrey;
}

.background {
    background-color: #121212;
    color: lightgrey;
}

.error {
    background-color: #CF6679;
    color: #121212;
    padding: 1em;
    margin-bottom: 1em;
}

input {
    background-color: lightgrey;
    border: 1px solid grey;
}

input[type=text],
input[type=date],
input[type=number],
input[type=password] {
    padding: 0.5em;
}

#form input[type=text]:focus,
#form input[type=date]:focus,
#form input[type=number]:focus,
#form input[type=password]:focus {
    outline: none;
}

.container {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.07);
    color: lightgrey;
}

.document {
    scrollbar-color: #121212 rgba(255, 255, 255, 0.07);
    scrollbar-width: thin;
    overflow-y: auto;
}

button,
input[type=submit] {
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0 0.5em;
    min-height: 2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: grey;
    color: #121212;
}

button:hover,
button:focus,
button:focus-visible {
    filter: brightness(80%);
}

input:focus,
button:focus {
    outline: none;
    border: 1px solid black;
}

.margin-below {
    margin-bottom: 1em;
}

.invisible {
    visibility: hidden;
}

.space-below {
    margin-bottom: 1em;
}

@media (orientation: portrait) {
    #root {
        padding: 0.5em 0.5em;
        /* font-size: 0.2vh; */
    }
}

@supports (height: 100dvh) {

    body,
    #root {
        height: 100dvh;
    }

}